* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.emojicontainer > p {
    font-size: 10rem;
    font-family: Comic Sans MS;
    display: block;
    position: absolute;
    -webkit-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -moz-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -o-animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
    from { left: 0; } to { left: 780px; }
  }
  @-moz-keyframes moveX {
    from { left: 0; } to { left: 980px; }
  }
  @-o-keyframes moveX {
    from { left: 0; } to { left: 980px; }
  }
  @keyframes moveX {
    from { left: 0; } to { left: 980px; }
  }
  
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: 380px; }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: 380px; }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: 380px; }
  }
  @keyframes moveY {
    from { top: 0; } to { top: 380px; }
  }

.emojicontainer {
background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}



h1 {
    width: 100%;
    z-index: 11;
    font-size: 5rem;
    font-family: Comic Sans MS;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: rgb(6, 108, 39);
}

h2 {
    width: 100%;
    z-index: 11;
    font-size: 2rem;
    font-family: Comic Sans MS;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: rgb(84, 58, 10);
}

button {
    z-index: 10;
    font-size: 1.3rem;
    font-family: Comic Sans MS;
    text-align: center;
    position: absolute;
    top: 38%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: rgb(84, 58, 10);
    background: rgb(238, 181, 36);
    border-radius: 3%;
    border: none;
    padding: 1rem 3rem;
}

.card {
    position: absolute;
    background-color: rgba(55, 173, 252, 0.241);
    top: 75%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 20rem;
    border-radius: 2%;
}

ul {
    position: absolute;
    font-family: Comic Sans MS;
    font-size: 1.2rem;
    line-height: 3rem;
    list-style: none;
    top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%);
}